<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--
      Zero-Internet Guarantee (sdd.md §1): android.permission.INTERNET is deliberately
      absent and MUST stay absent. tools:node="remove" strips it if a dependency's
      manifest ever tries to merge it in.
    -->
    <uses-permission
        android:name="android.permission.INTERNET"
        tools:node="remove" />

    <application
        android:name=".AegisApp"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="false"
        android:hasFragileUserData="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Aegis"
        tools:replace="android:allowBackup">

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|keyboardHidden|density|uiMode"
            android:enableOnBackInvokedCallback="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:theme="@style/Theme.Aegis"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
